node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

loopback/sigatec/sigatedb/
loopback/sigatec/server/storage/images/
loopback/db/

# macOS
.DS_Store
