<section class="hero is-link is-bold is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <header class="navbar">
            <div class="container">
                <div *ngIf="marketInfo" class="navbar-brand">
                    <a class="navbar-item">
                        <h1>{{marketInfo.name}}</h1>
                    </a>
                    <span (click)="toggleNavbar()" class="navbar-burger burger" data-target="navbarMenuHeroC">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu" [class.is-active]="isNavbarOpen">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">
                            Home
                        </a>
                        <span class="navbar-item">
                            <a href="http://gkreischer.tech/market/admmarket" class="button is-success is-inverted">
                                Login
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">
            <app-products></app-products>
        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div *ngIf="marketInfo" class="hero-foot">
        <div>
            <div style="display:flex; flex: 1; justify-content: center;">
                <a href="tel:{{marketInfo.tel}}"><p class="has-text-white">Telefone: ({{marketInfo.tel.substr(0,2)}}){{marketInfo.tel.substr(3,12)}}</p></a>
                <p>&nbsp; | &nbsp;</p>
                <a href="mailto:{{marketInfo.email}}"><p class="has-text-white">{{marketInfo.email}}</p></a>
            </div>
        </div>
    </div>
</section>