<div class="columns">
    <div class="column is-6">
        <p class="has-text-weight-bold">Adicione um produto</p>
        <form [formGroup]="formProduct" (ngSubmit)="sendForm()">
            <div class="field">
                <label>Nome</label>
                <div class="control">
                    <input type="text" class="input" formControlName="name" />
                </div>
            </div>
            <div class="field">
                <label>Categoria</label>
                <div class="control">
                    <input type="text" class="input" formControlName="category" />
                </div>
            </div>
            <div class="field">
                <label>Preço</label>
                <div class="control">
                    <input type="number" class="input" formControlName="price" />
                </div>
            </div>
            <div class="field">
                <label>Marca</label>
                <div class="control">
                    <input type="text" class="input" formControlName="brand" />
                </div>
            </div>
            <div class="field">
                <label class="label">Descrição</label>
                <div class="control">
                    <textarea class="textarea" rows="5" formControlName="description"></textarea>
                </div>
            </div>
            <div class="field">
                <div class="file has-name">
                    <label class="file-label">
                        <input class="file-input" (change)="uploadImageEquipment($event)" type="file" name="resume" />
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fa fa-file"></i>
                            </span>
                            <span class="file-label">
                                Escolha um arquivo...
                            </span>
                        </span>
                        <span class="file-name">
                            {{fileUploadName}}
                        </span>
                    </label>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button type="button" (click)="updateProductAndGoBackRoute($event)" id={{this.selectedId}} *ngIf="this.selectedId !== null" class="button is-link">Atualizar</button>
                </div>
                <div class="control">
                    <button *ngIf="this.selectedId === null" class="button is-link">Enviar</button>
                </div>
                <div class="control">
                    <button type="button" (click)="cancelSendForm()" class="button is-link is-light">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="column">
        <img *ngIf="this.formProduct.get('image').value !== ''" src="{{this.formProduct.get('image').value}}" alt="Description of image">
        <h1 *ngIf="this.formProduct.get('image').value === ''">Selecione uma imagem para enviar</h1>
    </div>
</div>