<div class="columns">
    <div class="column">
        <p class="title">Últimos adicionados</p>
    </div>
</div>
<div class="columns is-multiline is-mobile">
    <div *ngFor="let product of products | slice:0:6; let i = index" class="column">
        <div class="card card-equal-height" style="padding-top: 2em">
            <div class="card-image">
                <figure class="image is-square">
                    <img src={{product.image}} alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content" style="padding-top: 0px;">
                <hr style="margin-top: 0px;">
                <h3><b>{{product.name}}</b></h3>
                <h3 class="has-text-weight-semi-bold">R${{product.price}}</h3>
                <button class="button is-link is-small has-text-right">Detalhes</button>
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column" style="display: flex; justify-content: center;">
        <pagination-controls responsive="true" autoHide="true" previousLabel="Anterior" nextLabel="Próxima"
            (pageChange)="p = $event" class="customPagination pagination is-rounded">
        </pagination-controls>
    </div>
</div>

<!-- <div class="columns">
    <div class="column">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        
                        <article class="tile is-child notification is-primary">
                            <p class="title">Vertical...</p>
                            <p class="subtitle">Top tile</p>
                        </article>
                        <article class="tile is-child notification is-warning">
                            <p class="title">...tiles</p>
                            <p class="subtitle">Bottom tile</p>
                        </article>
                        <article class="tile is-child notification is-warning">
                            <p class="title">...tiles</p>
                            <p class="subtitle">Bottom tile</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-info">
                            <p class="title">Middle tile</p>
                            <p class="subtitle">With an image</p>
                            <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/640x480.png">
                            </figure>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-danger">
                        <p class="title">Wide tile</p>
                        <p class="subtitle">Aligned with the right tile</p>
                        <div class="content">
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-success">
                    <div class="content">
                        <p class="title">Tall tile</p>
                        <p class="subtitle">With even more content</p>
                        <div class="content">
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div> -->