<div class="container">
    <div class="columns">
        <div class="column">
            <table *ngIf="products.length !== 0"
                class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: p }; let i = index ">
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.category}}</td>
                        <td style="width: 148px">
                            <button id={{product.id}} (click)="getInfoOfSelectProduct($event)" type="button"
                                class="button is-primary is-small">Editar</button>
                            <button id="{{product.id}}" (click)="deleteProduct($event, i)" type="button"
                                class="button is-danger is-small">Deletar</button>
                        </td>
                    </tr>
            </table>

            <p *ngIf="products.length === 0">Você não possui produtos cadastrados</p>
        </div>
    </div>
    <div class="columns">
        <div class="column" style="display: flex; justify-content: center;">
            <pagination-controls 
                responsive="true"
                autoHide="true" 
                previousLabel="Anterior" 
                nextLabel="Próxima" 
                (pageChange)="p = $event" 
                class="customPagination pagination is-rounded">
            </pagination-controls>
        </div>
    </div>
</div>